h1{
    text-align: center;
    margin-top: 10rem;
}

.sidephone{
    display: flex;
    height: 300px;
    width: 260px;
}
#welcome-message{
    margin-top: 1rem;
    background-color: #11122b;
    color: white;
}

button a{
    color: white;
    text-decoration: none;
}

button{
    background-color: #11122b;
    width: 150px;
    height: 30px;
    border-radius: 25px;
}
.homepage-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
}

.homepage-content > .content-card img{
    width: 350px;
    height: 400px;
}
.center-link{
    margin-top: -10rem;
    width: 700px;
}

h3{
    text-align: center;
}
h2{
    text-align: center;
    margin-top: 1rem;
}
.background{
    background-image: url(fix.jpg);
    height: 70vh;
    width: 100%;
    margin-top: -9rem;
}

.homepage-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.homepage-left-card{
    width: 500px;
    margin-top: -10rem;
}


.homepage-left-card p{
    font-size: 1.5rem;
    text-align: justify;
}

.homepage-right-card{
    margin-top: 2rem;
}
